<div class=" flex flex-col gap-5">
  <div class="relative w-full ">
    <lucide-icon [img]="Search" class="w-[18px] h-[18px] absolute start-2 top-1/2 -translate-y-1/2
    font-[Inter] text-[14px] font-normal leading-none tracking-normal text-[#A1A1AA] dark:text-[#A1A1AA]" />

    <input type="text"  (input)="onSearch($event)" [placeholder]="'DASHBOARD.TABLE.SEARCH' | translate"
      class="w-full  rounded-[10px] border border-[#D9D9D9] bg-white ps-[42px] py-4  text-[14px] outline-none 
     placeholder:font-[Inter] placeholder:text-[14px] placeholder:font-normal placeholder:text-[#A1A1AA] dark:border-[#3A3A3A] dark:bg-[#262626] dark:text-white dark:placeholder:text-[#A1A1AA]" />
  </div>
  <div class="w-full overflow-x-auto custom-scrollbar ">
  <table class="w-full  min-w-[550px] ">

    <colgroup>
       @for (column of columns(); track column.key) {
           <col style="width: 16.6667%" />
       }

       @if (actions().length) {
        <col style="width: 16.6667%" />
      }
    </colgroup>
    <thead>
      <tr
        class="w-full min-h-[40px]  border-y border-[#00000014] dark:border-[#FFFFFF14] bg-[#FAFAFA] dark:bg-[#262626]">
        @for (column of columns(); track column.key){
        <th [class.cursor-pointer]="column.sortable" (click)="column.sortable && sort(column)"
          class="py-3 px-2  max-w-0 align-middle font-[Inter] text-[13px] font-medium leading-[19px] tracking-[0px] text-[#18181B] dark:text-white">

          <div class="flex items-center gap-1">

            <span>
              {{ column.header | translate }}
            </span>


            @if (column.sortable) {
            @if(getSortDirection(column) === 'asc') {
            <lucide-icon [img]="ArrowUp" class="w-4 h-4 text-[#A6252A] dark:text-[#FFC2D0]" />
            } @else if(getSortDirection(column) === 'desc') {
            <lucide-icon [img]="ArrowDown" class="w-4 h-4 text-[#A6252A] dark:text-[#FFC2D0]" />
            }
            }
          </div>
        </th>
        }
        @if (actions().length) {
        <th class="py-3 px-2  max-w-0 align-middle"></th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data(); track $index){
      <tr class="w-full min-h-[40px]  
      border-y border-[#00000014] dark:border-[#FFFFFF14]  hover:bg-[#FBEAEA]
      dark:hover:bg-[#3A2929]">
        @for (column of columns(); track column.key){
        <td class="py-1 md:py-4 px-2   align-middle ">
          @if(column.template) {
          <ng-container [ngTemplateOutlet]="column.template"
            [ngTemplateOutletContext]="{ $implicit: getCellValue(row, column), row: row }">
          </ng-container>
          } @else {
            <span class="block max-h-[40px] line-clamp-2 break-words overflow-hidden leading-snug" [title]="getCellValue(row, column)">
              {{ getCellValue(row, column) }}
            </span>
          
          }
        </td>
        }

        @if(actions().length) {
        <!-- Desktop Actions -->
        <td class="hidden md:table-cell py-1 md:py-4 px-2  max-w-0 align-middle">
          <div class="flex items-center justify-center gap-2">
            @for (action of actions();track action.label){
            <!-- Call the action handler and pass the current row   -->
            <button type="button" (click)="action.action(row)"
              class="flex items-center justify-center gap-1 py-1 px-2 rounded-[6px] font-Inter text-[12px] font-medium leading-[19px] tracking-[0px] align-middle cursor-pointer"
              [ngClass]="{
                        'bg-[#0063D01A] dark:bg-[#0063D033] text-[#155DFC] dark:text-[#FFC2D0]  hover:bg-[#0063D033] dark:hover:bg-[#0063D04D] ': action.label.toLowerCase().includes('edit'),
                        'bg-[#FF00001A] dark:bg-[#FF000033] text-[#DC2626] dark:text-[#F87171] hover:bg-[#FF000033] dark:hover:bg-[#FF00004D]': action.label.toLowerCase().includes('delete'),
                        'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-600': !action.label.toLowerCase().includes('edit') && !action.label.toLowerCase().includes('delete')
                      }">
              @if (action.icon) {
              <lucide-icon [img]="action.icon" [size]="14" />
              }
              {{ action.label | translate }}
            </button>
            }
          </div>
        </td>

        <!-- Mobile Actions Dropdown -->
        <td class="md:hidden py-4 px-2">
          <button type="button" (click)="openMobileMenu($event, menu, row)">
            <lucide-icon [img]="EllipsisVertical" [size]="20" />
          </button>
        </td>
        }
      </tr>
  

      }
          <!-- Empty state when no data is available -->
      @if (data().length === 0) {
       <tr>
    <td
      [attr.colspan]="columns().length + (actions().length ? 1 : 0)"
      class="py-16">
      <div class="flex flex-col items-center justify-center gap-3 text-center">

        <h3
          class="font-inter text-[16px] font-semibold leading-5
                 text-[#27272A] dark:text-white">
          {{ 'DASHBOARD.TABLE.NO_DATA' | translate }}
        </h3>

        <p
          class="font-inter text-[13px] font-normal leading-5
                 text-[#71717A] dark:text-[#A1A1AA]"
        >
          {{ 'DASHBOARD.TABLE.NO_DATA_DESCRIPTION' | translate }}
        </p>

      </div>
    </td>
  </tr>
      }
    </tbody>
  </table>
  </div>
  <!-- Menu -->
  <p-menu #menu [model]="activeMenuItems()" [popup]="true" appendTo="body"
  styleClass="  pt-[50px] px-4 pb-4 rounded-t-[20px]  bg-white dark:bg-[#262626]">
    <ng-template #item let-item>
      <div 
              class="flex items-center  gap-1 py-2.5  font-Inter text-[12px] font-medium leading-[19px] tracking-[0px] align-middle cursor-pointer"
              [ngClass]="{
                        ' text-[#155DFC] dark:text-[#FFC2D0]   ': item.label.toLowerCase().includes('edit'),
                        ' text-[#DC2626] dark:text-[#F87171] ': item.label.toLowerCase().includes('delete'),
                        ' text-gray-700 dark:text-gray-200 ': !item.label.toLowerCase().includes('edit') && !item.label.toLowerCase().includes('delete')
                      }">
        @if (item.data?.icon) {
        <lucide-icon [img]="item.data.icon" [size]="18" />
        }

        <span>{{ item.label | translate }}</span>
        
      </div>
    </ng-template>
  </p-menu>
  <!-- Pagination -->
  @if (totalPages() > 1) {
  <lib-pagination [page]="page()" [totalPages]="totalPages()" (pageChange)="pageChange.emit($event)">
  </lib-pagination>
  }
</div>