<footer dir="ltr" class="bg-[#22222b] text-white py-10 px-4 md:px-8">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="text-center md:text-left">
        <img
          src="http://localhost:4203/assets/logo.png"
          alt="Rose Logo"
          class="w-32 md:w-40 mx-auto md:mx-0 mb-4"
        />

        <h3 class="font-semibold">
          {{ 'FOOTER.APP_NAME' | translate }}
        </h3>

        <div dir="ltr" class="mt-3 flex justify-center md:justify-start">
          <lib-language-switcher />
        </div>

        <p class="text-sm text-gray-300 mt-3">
          {{ 'FOOTER.RIGHTS' | translate }}
        </p>
      </div>

      <div class="text-center md:text-left">
        <h3 class="text-pink-300 mb-3 font-medium">
          {{ 'FOOTER.DISCOVER' | translate }}
        </h3>

        <ul class="space-y-2 text-sm">
          <li class="cursor-pointer hover:text-pink-300">
            {{ 'NAV.HOME' | translate }}
          </li>

          <li class="cursor-pointer hover:text-pink-300">
            {{ 'NAV.PRODUCTS' | translate }}
          </li>

          <li class="cursor-pointer hover:text-pink-300">
            {{ 'NAV.CATEGORIES' | translate }}
          </li>

          <li class="cursor-pointer hover:text-pink-300">
            {{ 'NAV.OCCASIONS' | translate }}
          </li>

          <li class="cursor-pointer hover:text-pink-300">
            {{ 'NAV.CONTACT' | translate }}
          </li>

          <li class="cursor-pointer hover:text-pink-300">
            {{ 'NAV.ABOUT' | translate }}
          </li>

          <li class="cursor-pointer hover:text-pink-300">
            {{ 'FOOTER.TERMS' | translate }}
          </li>

          <li class="cursor-pointer hover:text-pink-300">
            {{ 'FOOTER.PRIVACY' | translate }}
          </li>

          <li class="cursor-pointer hover:text-pink-300">
            {{ 'FOOTER.FAQS' | translate }}
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-pink-300 mb-2 text-center md:text-left font-medium">
          {{ 'FOOTER.COUPON_TITLE' | translate }}
        </h3>

        <p class="text-sm text-gray-300 mb-4 text-center md:text-left">
          {{ 'FOOTER.NEWSLETTER_TEXT' | translate }}
        </p>

        <div class="flex flex-col sm:flex-row gap-3">
          <input
            type="email"
            [placeholder]="'FOOTER.EMAIL_PLACEHOLDER' | translate"
            class="flex-1 px-4 py-2 rounded-full text-black outline-none"
          />

          <button
            class="bg-white text-black px-5 py-2 rounded-full hover:bg-gray-200 transition"
          >
            {{ 'FOOTER.SUBSCRIBE' | translate }}
          </button>
        </div>
      </div>
    </div>

    <div
      class="border-t border-gray-700 mt-8 pt-4 text-center text-xs text-gray-400"
    >
      {{ 'FOOTER.COPYRIGHT' | translate }}
    </div>
  </div>
</footer>