<div
  class="relative w-full p-4 bg-white gap-1.5 border-t border-[#D9D9D9] transition-colors flex items-start justify-between group dark:bg-zinc-900 dark:border-zinc-600"
  [class.bg-zinc-200]="!item().isRead"
  [class.dark:bg-zinc-900]="!item().isRead">

  <button class="flex-1 space-y-1" (click)="markAsRead()">
    <h4 class="font-sarabun text-start font-semibold text-sm sm:text-base leading-relaxed tracking-normal text-zinc-800 dark:text-zinc-100">
      {{ item().title }}
    </h4>
    <p class="font-sarabun font-normal text-start text-[11px] sm:text-sm leading-relaxed tracking-normal text-zinc-500 dark:text-zinc-300">
      {{ item().message }}
    </p>
  </button>

  <!-- PrimeNG Menu Toggle Button -->
  <div class="relative">
    <button type="button" (click)="$event.stopPropagation(); menu.toggle($event)"
      class="p-1.5 rounded-md text-gray-400 hover:text-gray-600 hover:bg-gray-200/50 transition-colors dark:text-zinc-300 dark:hover:text-white dark:hover:bg-zinc-800">
      <lucide-angular [img]="EllipsisVertical" class="w-5 h-5"></lucide-angular>
    </button>

    <!-- PrimeNG Menu Component -->
    <p-menu #menu [model]="items" [popup]="true" appendTo="body"
      styleClass="!w-[205px] !rounded-[10px] !p-3 !bg-white !shadow-[0px_4px_9px_0px_#00000026] dark:!bg-zinc-700  dark:!shadow-none">

      <ng-template pTemplate="item" let-item>
        <button type="button" (click)="item.command(); menu.hide()"
          class="w-full text-left px-3 py-2 rounded-md hover:bg-gray-100 transition-colors dark:hover:bg-zinc-800">
          @if (item.icon) {
            <i [class]="item.icon" class="text-zinc-500 dark:text-zinc-400"></i>
          }

          <span class="text-xs sm:text-sm text-zinc-700 dark:text-zinc-50">
            {{ item.label | translate }}
          </span>
        </button>
      </ng-template>

    </p-menu>
  </div>
</div>