<div
  class="relative w-full p-4 bg-white dark:bg-zinc-700 gap-1.5 border-t border-[#D9D9D9] transition-colors flex items-start justify-between group dark:bg-zinc-900 dark:border-zinc-600"
  [class.bg-zinc-200]="!item().isRead"
  [class.dark:bg-zinc-900]="!item().isRead">

  <a   href="#"  class="flex-1 space-y-1"  (click)="handleNotificationClicked($event)">
    <h4 class="font-sarabun text-start font-semibold text-sm sm:text-base leading-relaxed tracking-normal text-zinc-800 dark:text-zinc-100 line-clamp-1">
      {{ item().title }}
    </h4>
    <p class="font-sarabun font-normal text-start text-[11px] sm:text-sm leading-relaxed tracking-normal text-zinc-500 dark:text-zinc-300 line-clamp-3">
      {{ item().message }}
    </p>
  </a>

  <!-- PrimeNG Menu Toggle Button -->
  <div class="relative">
    <button type="button" (click)="$event.stopPropagation(); menu.toggle($event)"
      class="p-1.5 rounded-md text-gray-400 hover:text-gray-600 hover:bg-gray-200/50 transition-colors cursor-pointer dark:text-zinc-300 dark:hover:text-white dark:hover:bg-zinc-800">
      <lucide-angular [img]="EllipsisVertical" class="w-5 h-5"></lucide-angular>
    </button>

    <!-- PrimeNG Menu Component -->
    <p-menu #menu [model]="items()" [popup]="true" appendTo="body"
      styleClass="!w-[205px] !rounded-[10px] !p-3 !bg-white !shadow-[0px_4px_9px_0px_#00000026] dark:!bg-zinc-700 dark:!shadow-[0px_4px_9px_0px_#00000040] ">

      <ng-template pTemplate="item" let-item>
        <button type="button" (click)="$event.stopPropagation();onMenuItemClick(item)"  [disabled]="item.disabled"
          class="w-full flex items-center
           gap-[10px]  text-left  py-2 rounded-md hover:bg-gray-100 cursor-pointer transition-colors dark:hover:bg-zinc-800
            disabled:cursor-not-allowed">
          @if (item.icon) {
            <i [class]="item.icon" [ngClass]="item.iconColor" class="shrink-0" ></i>
          }

          <span class="text-xs sm:text-sm " [ngClass]="item.labelColor">
            {{ item.label | translate }}
          </span>
        </button>
      </ng-template>

    </p-menu>
  </div>
</div>