<div class="flex flex-col gap-8">
  <app-category-filter /> 
  <app-occasion-filter />
  <app-rating-filter />
  <app-price-filter />

    <!-- Reset All -->
  <lib-button variant="Secondary" size="full" [disabled]="!_productFilterService.hasActiveFilters()"
    (clicked)="_productFilterService.resetAll()">
    <lucide-icon leftIcon [img]="RotateCcw" class="w-5 h-5" />
    {{ 'FILTER.RESET_ALL' | translate }}
  </lib-button>
  </div>

  @if (isDrawer()) {
  <div class="fixed inset-0 z-50 flex flex-col bg-white dark:bg-zinc-950 lg:hidden">
    
    <div class="px-6 py-5 flex justify-between items-center border-b border-zinc-100 dark:border-zinc-900 shrink-0">
      <span class="text-[18px] font-sarabun font-bold text-[#741C21] dark:text-[#FFA3B9]">
        {{ 'FILTER.FILTERS' | translate }}
      </span>
      <button 
        type="button"
        (click)="close.emit()" 
        class="text-zinc-550 dark:text-zinc-400 p-1 hover:bg-zinc-100 dark:hover:bg-zinc-900 rounded-full transition-colors"
      >
        <lucide-icon [img]="X" class="w-6 h-6" />
      </button>
    </div>

    <div class="flex-1 overflow-y-auto px-6 py-6 hide-scrollbar">

  <p-accordion [multiple]="true">

    <p-accordion-panel value="category">
      <p-accordion-header>
        {{ 'FILTER.CATEGORY' | translate }}
      </p-accordion-header>

      <p-accordion-content>
        <app-category-filter />
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="occasion">
      <p-accordion-header>
        {{ 'FILTER.OCCASION' | translate }}
      </p-accordion-header>

      <p-accordion-content>
        <app-occasion-filter />
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="rating">
      <p-accordion-header>
        {{ 'FILTER.RATING' | translate }}
      </p-accordion-header>

      <p-accordion-content>
        <app-rating-filter />
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="price">
      <p-accordion-header>
        {{ 'FILTER.PRICE' | translate }}
      </p-accordion-header>

      <p-accordion-content>
        <app-price-filter />
      </p-accordion-content>
    </p-accordion-panel>

  </p-accordion>

</div>

    <div class="p-6 bg-white dark:bg-zinc-950 border-t border-zinc-100 dark:border-zinc-900 flex gap-4 shrink-0">
       <div class="w-full flex gap-4">

        <div class="flex-1">
        <lib-button variant="Secondary" size="full" [disabled]="!_productFilterService.hasActiveFilters()"
        (clicked)="_productFilterService.resetAll()">
        <lucide-icon leftIcon [img]="RotateCcw" class="w-5 h-5" />
        {{ 'FILTER.RESET_ALL' | translate }}
        </lib-button>
       </div>

      <div class="flex-1">
      <lib-button  size="full" class="text-white"
        (click)="close.emit()"
      >
       {{ 'FILTER.APPLY' | translate }}
      </lib-button>
      </div>
      </div>
    </div>

  </div>
}

  
  
   

 

  