:host-context(.dark) .product-card {
  background: transparent;
}

:host-context(.dark) .image-box {
  background: #1f2937;
}

:host-context(.dark) .product-title {
  color: #ffffff;
}

:host-context(.dark) .product-desc,
:host-context(.dark) .rating-number,
:host-context(.dark) .old-price {
  color: #d1d5db;
}

:host-context(.dark) .new-price {
  color: #f82ba9;
}

:host-context(.dark) .small-circle-btn,
:host-context(.dark) .action-btn {
  background: #111827;
  color: #ffffff;
}

:host-context(.dark) .small-circle-btn:hover,
:host-context(.dark) .action-btn:hover {
  background: #f82ba9;
  color: #ffffff;
}

:host-context(.dark) .cart-btn {
  background: #f82ba9;
  color: #ffffff;
}