<app-form-page-layout
    titleKey="DASHBOARD.CATEGORIES.UPDATE_TITLE"
    [titleParams]="{ name: category()?.title ?? '' }">

    @if (fields().length) {
    <app-dynamic-form class="flex flex-1 flex-col" [fields]="fields()"
        submitLabel="DASHBOARD.CATEGORIES.UPDATE_SUBMIT"
        (submitted)="onSubmit($event)">

        <!-- Extra content -->
        <div class=" flex w-full flex-wrap justify-end gap-3">
            <app-view-image-button
                labelKey="DASHBOARD.CATEGORIES.VIEW_IMAGE"
                (clicked)="openImagePreview()" />
        </div>
    </app-dynamic-form>
    }

    <app-image-preview-modal pageOverlays
        [images]="previewImages()"
        [isOpen]="showImage()"
        [title]="'DASHBOARD.CATEGORIES.VIEW_IMAGE' | translate"
        (closed)="closeImagePreview()" />
</app-form-page-layout>
