<app-form-page-layout titleKey="DASHBOARD.PRODUCTS.UPDATE_PRODUCT" [titleSuffix]="productName()">

    <app-dynamic-form class="flex flex-1 flex-col" [fields]="fields()"
        [initialValues]="initialValues()"
        submitLabel="DASHBOARD.PRODUCTS.UPDATE_PRODUCT"
        (submitted)="onProductUpdate($event)">

        <!-- Extra content -->
        <div class=" flex w-full flex-wrap justify-end gap-3">
            <app-view-image-button
                labelKey="DASHBOARD.PRODUCTS.VIEW_PRODUCT_COVER"
                (clicked)="openCoverPreview()" />

            <app-view-image-button
                labelKey="DASHBOARD.PRODUCTS.VIEW_PRODUCT_GALLERY"
                (clicked)="openGalleryPreview()" />
        </div>
    </app-dynamic-form>

    <app-image-preview-modal pageOverlays
        [images]="coverImages()"
        [isOpen]="showCover()"
        [title]="'DASHBOARD.PRODUCTS.VIEW_PRODUCT_COVER' | translate"
        (closed)="closeCoverPreview()" />

    <app-image-preview-modal pageOverlays
        [images]="productGallery()"
        [isOpen]="showGallery()"
        [title]="'DASHBOARD.PRODUCTS.VIEW_PRODUCT_GALLERY' | translate"
        (closed)="closeGalleryPreview()" />
</app-form-page-layout>
