:host ::ng-deep {
  .p-stepper,
  .p-step-panels,
  .p-step-panel {
    background: transparent;
  }

  .p-step-panels {
    padding: 0;
  }

  .leaflet-div-icon {
    background: transparent;
    border: none;
  }
}
