<div class="w-full  mx-auto flex flex-col gap-4 md:gap-6 ">


    <div class="flex flex-col gap-4 pb-2.5">
    <lib-welcome-message [title]="'AUTH.BECOME_FAMILY' | translate" class="font-edwardian mt-2">
    </lib-welcome-message>
    <lib-divider></lib-divider>
     </div>

    <form [formGroup]="loginForm" class="flex flex-col gap-4 md:gap-6">
        <lib-reusable-input formControlName="username" type="text" [label]="'AUTH.USERNAME' | translate"
            [placeholder]="'AUTH.USERNAME_PLACEHOLDER' | translate" />
        <div>
            <lib-reusable-input formControlName="password" type="password" [label]="'AUTH.PASSWORD' | translate"
                [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" />

            <div class="flex justify-end mt-2">
                <a routerLink="/auth/forgot-password"
                    class="text-sm text-maroon-600 hover:text-maroon-800 transition text-end cursor-pointer font-bold dark:text-soft-pink-300 dark:hover:text-soft-pink-400">
                    {{ 'AUTH.FORGOT_PASSWORD' | translate }}
                </a>
            </div>
        </div>


        <label class="flex items-center gap-2 cursor-pointer w-fit">
            <div class="relative">
                <input type="checkbox" formControlName="rememberMe" class="peer sr-only" />
                <div
                    class="w-5 h-5 rounded-md border-2 border-maroon-700 dark:border-soft-pink-300 peer-checked:bg-maroon-700 dark:peer-checked:bg-pink-300 transition-colors">
                </div>
                <div
                    class="absolute inset-0 flex items-center justify-center opacity-0 peer-checked:opacity-100 transition-opacity">
                    <lucide-icon [img]="Check" class="w-4 h-4 text-white" />
                </div>
            </div>
            <span class="text-sm text-zinc-800 dark:text-zinc-50">{{ 'AUTH.REMEMBER_ME' | translate }}</span>
        </label>


        <lib-button [type]="'submit'" [size]="'full'" [loading]="authStore.loading()" [disabled]="authStore.loading()"
            class="text-white cursor-pointer" (clicked)="onSubmit()">{{ 'AUTH.LOGIN' | translate }}</lib-button>
        
        <lib-divider></lib-divider>

        <lib-callout-text [text]="'AUTH.NO_ACCOUNT' | translate" [linkText]="'AUTH.CREATE_ONE_NOW' | translate" class="mb-2"
            linkUrl="/auth/register">
        </lib-callout-text>

    </form>



</div>