<div class="flex flex-col mx-5">

    <div class="special-header">
        <lib-welcome-message [title]="'AUTH.WELCOME_BACK' | translate" class="font-edwardian"></lib-welcome-message>

        <div class="mt-4 mb-6"><lib-divider></lib-divider></div>

        <form [formGroup]="loginForm" class="flex flex-col gap-4">
            <lib-reusable-input formControlName="username" type="text" class="mb-3"
                [label]="'AUTH.USERNAME' | translate"
                [placeholder]="'AUTH.USERNAME_PLACEHOLDER' | translate" />

            <lib-reusable-input formControlName="password" type="password"
                [label]="'AUTH.PASSWORD' | translate"
                [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" />

            <div class="w-auto ms-auto">
                <a routerLink="/auth/forgot-password"
                    class="text-sm text-maroon-600 hover:text-maroon-800 transition text-end cursor-pointer font-bold dark:text-soft-pink-300 dark:hover:text-soft-pink-400">
                    {{ 'AUTH.FORGOT_PASSWORD' | translate }}
                </a>
            </div>

            <label class="flex items-center gap-2 cursor-pointer w-fit">
                <div class="relative">
                    <input type="checkbox" formControlName="rememberMe" class="peer sr-only" />
                    <div
                        class="w-5 h-5 rounded-md border-2 border-maroon-700 dark:border-soft-pink-300 peer-checked:bg-maroon-700 dark:peer-checked:bg-pink-300 transition-colors">
                    </div>
                    <div
                        class="absolute inset-0 flex items-center justify-center opacity-0 peer-checked:opacity-100 transition-opacity">
                        <lucide-icon [img]="Check" class="w-4 h-4 text-white" />
                    </div>
                </div>
                <span class="text-sm text-zinc-800 dark:text-zinc-50">{{ 'AUTH.REMEMBER_ME' | translate }}</span>
            </label>

            <div class="mt-4 mb-6"><lib-divider></lib-divider></div>

            <lib-button [type]="'submit'" [size]="'full'" [loading]="authStore.loading()" [disabled]="authStore.loading()" class="text-white cursor-pointer" (clicked)="onSubmit()">{{ 'AUTH.LOGIN' | translate }}</lib-button>

            <lib-callout-text
                [text]="'AUTH.NO_ACCOUNT' | translate"
                [linkText]="'AUTH.CREATE_ONE_NOW' | translate"
                linkUrl="/auth/register">
            </lib-callout-text>

        </form>


    </div>
</div>
