@if (isLoggedIn()) {
<button type="button" (click)="onAddressClick()" class=" text-sm shrink-0 text-start cursor-pointer">
    @if (deliveryAddress(); as address) {
    <span class="flex flex-row md:flex-col items-center md:items-start gap-1">
        <span class="text-gray-400 dark:text-zinc-400">
            {{ 'NAV.DELIVER_TO' | translate }}
        </span>

        <span class="flex items-center gap-1 text-maroon-700 dark:text-soft-pink-300">
            <lucide-icon [img]="MapPin" class="w-4 h-4 shrink-0" />
            <span class="max-w-[140px] truncate">{{ address.city }}</span>
        </span>
    </span>
    } @else {
    <span class="text-gray-400 dark:text-zinc-400">
        {{ 'NAV.NO_ADDRESS' | translate }}
    </span>

    <span class="flex items-center gap-1 text-maroon-700 dark:text-soft-pink-300">
        <lucide-icon [img]="MapPinPlus" class="w-4 h-4 shrink-0" />
        <span>{{ 'NAV.ADD_ADDRESS' | translate }}</span>
    </span>
    }
</button>
}