<nav class="sticky top-0 z-50 bg-white dark:bg-zinc-800 shadow-lg">


  <div class="h-[58px] px-2 sm:px-3 md:px-6 flex  items-center justify-between md:justify-start  gap-2 md:gap-3">
    
      <!-- Menu Button -->
      <button type="button" (click)="toggleMobileMenu()"
        class="md:hidden flex items-center justify-center p-1.5 rounded-lg text-zinc-700 dark:text-zinc-200 hover:bg-zinc-100 dark:hover:bg-zinc-700 transition-colors cursor-pointer"
        [attr.aria-label]="isMobileMenuOpen() ? 'Close menu' : 'Open menu'">
        <lucide-icon [img]="Menu" class="w-6 h-6" />
      </button>

      <!-- Logo -->
      <a routerLink="/home" class="shrink-0 flex items-center">
        <img [src]="'assets/logo.png' | assetUrl" alt="Rose Logo"
          class="w-10 h-10 sm:w-11 sm:h-11 md:w-14 md:h-14 object-contain" />
      </a>
    

    <!-- Address -->
    <app-delivery-address (addressClicked)="openAddressModal()" class="hidden md:block" />

    <!-- Search -->
     <div class="ml-auto md:ml-0">
      
     </div>
      <app-product-search class="block md:flex-1 min-w-0 " />

    
    
    

    <!-- Desktop right side -->
    <div class="hidden md:flex items-center md:gap-2 shrink-0">

      <!-- User menu -->
      <app-user-menu />


      <div class="hidden md:block w-px h-6 bg-gray-300 dark:bg-zinc-600"></div>

      <button [routerLink]="isLoggedIn() ? '/wishlist' : '/auth' "
        class="hidden md:block cursor-pointer text-zinc-800 dark:text-zinc-50 hover:text-[#8B1E24] dark:hover:text-soft-pink-300 relative">
        <lucide-icon [img]="Heart" class="w-5 h-5" />
        @if (isLoggedIn()) {
        @if (wishlistCount() > 0 ){
        <span
          class="absolute -top-2 -right-2 bg-red-600 text-white text-[10px] w-4 h-4 rounded-full flex items-center justify-center font-sans leading-none">
          {{ wishlistCount() > 99 ? '99+' : wishlistCount() }}
        </span>
        }
        }
      </button>

      <button [routerLink]="isLoggedIn() ? '/cart' : '/auth' "
        class="hidden md:block cursor-pointer text-zinc-800 dark:text-zinc-50 hover:text-[#8B1E24] dark:hover:text-soft-pink-300 relative">
        <lucide-icon [img]="ShoppingCart" class="w-5 h-5" />
        @if (isLoggedIn()) {
        @if (cartCount() > 0 ){
        <span
          class="absolute -top-2 -right-2 bg-red-600 text-white text-[10px] w-4 h-4 rounded-full flex items-center justify-center font-sans leading-none">{{cartCount()}}</span>
        }
        }
      </button>

      <button
        class="hidden md:block cursor-pointer text-zinc-800 dark:text-zinc-50 hover:text-[#8B1E24] dark:hover:text-soft-pink-300 relative">
        <lucide-icon [img]="Bell" class="w-5 h-5" />
        @if (isLoggedIn()) {
        <span
          class="absolute -top-2 -right-2 bg-red-600 text-white text-[10px] w-4 h-4 rounded-full flex items-center justify-center font-sans leading-none">
          2</span>
        }
      </button>

      <div class="hidden md:block w-px h-6 bg-gray-300 dark:bg-zinc-600"></div>


      <div class="hidden md:flex items-center gap-2">
        <lib-theme-toggle />
        <div class="w-px h-6 bg-gray-300 dark:bg-zinc-600"></div>
        <div class="text-xs md:text-sm text-gray-700 dark:text-zinc-50">
          <lib-language-switcher />
        </div>
      </div>
    </div>


    

  </div>
  <!-- Main nav links -->
  <div class="hidden dark:bg-pink-300 md:flex bg-[#8B1E24] h-[34px] items-end justify-center">
    <app-main-nav-links />
  </div>







  <!-- Mobile Drawer -->
  <app-mobile-menu [isVisible]="isMobileMenuOpen()" (visibleChange)="isMobileMenuOpen.set($event)" />



  <!-- Address -->
  <app-delivery-address (addressClicked)="openAddressModal()" class="block md:hidden px-4 sm:px-6" />
</nav>


<!-- Mobile Bottom Navigation -->
<app-mobile-bottom-nav [wishlistCount]="wishlistCount()" [cartCount]="cartCount()" />