<div class="flex flex-col mx-5">
  <h1 class="text-3xl text-zinc-800 font-bold dark:text-zinc-50">Create a new password</h1>
  <p class="text-zinc-800 dark:text-zinc-50 pt-1">
    Set a strong password to secure your account.
  </p>
  <lib-divider class="mt-4 mb-6"></lib-divider>

  <form [formGroup]="resetForm" class="flex flex-col gap-4">
    <lib-reusable-input formControlName="newPassword" type="password"
      label="New Password" placeholder="Enter your new password" />

    <lib-reusable-input formControlName="confirmPassword" type="password"
      label="Confirm Password" placeholder="Confirm your new password" />

    @if (resetForm.errors?.['passwordMismatch'] && resetForm.get('confirmPassword')?.dirty) {
      <p class="text-sm text-red-600 dark:text-red-400">Passwords do not match.</p>
    }

    <lib-button class="text-white" [type]="'submit'" [size]="'full'"
      [loading]="authStore.loading()" [disabled]="authStore.loading()"
      (clicked)="onResetPassword()">
      Reset Password
    </lib-button>

    <lib-divider class="my-4"></lib-divider>

    <p class="text-sm text-center text-zinc-600 dark:text-zinc-400">
      Don't have an account?
      <a routerLink="/auth/register"
        class="font-bold text-maroon-700 dark:text-soft-pink-300 hover:underline cursor-pointer">
        Create yours
      </a>
    </p>
  </form>
</div>
