<form [formGroup]="confirmEmailVerificationForm" (ngSubmit)="onConfirmEmailVerificationSubmit()"
    class="w-full max-w-[406px] mx-auto flex flex-col gap-[24px]">
    <lib-welcome-message [title]="'AUTH.BECOME_FAMILY' | translate" class="font-edwardian">
    </lib-welcome-message>

    <lib-divider></lib-divider>

    <p class="font-sarabun font-normal text-[16px] leading-relaxed align-middle text-[#27272A] dark:text-zinc-50 ">
        {{ 'AUTH.SENT_CODE_TO' | translate:{ email: email } }}
        <a routerLink="/auth/send-email-verification" class="font-sarabun font-medium text-[16px] text-[#1447E6] leading-none align-middle underline cursor-pointer">
            {{ 'AUTH.EDIT' | translate }}
        </a>
    </p>

    <div class="flex justify-center">
        <lib-otp-input [length]="6" [otpServerError]="otpServerError()" formControlName="otp" [disabled]="loading()"
            class="mx-auto">
        </lib-otp-input>
    </div>

    <div class="text-sm text-zinc-500 text-center dark:text-zinc-400 h-[20px] transition-all duration-300" 
      [class.cursor-default]="canResend()" >
        {{ 'AUTH.RESEND_AVAILABLE' | translate }}: 
        <countdown #cd class="text-maroon-700 dark:text-soft-pink-300 font-bold" [hidden]="canResend()" [config]="countdownConfig" (event)="handleCountdownEvent($event)">
        </countdown>
        
        <button type="button" class="text-maroon-700 hover:text-maroon-800 dark:text-soft-pink-300 font-bold cursor-pointer dark:hover:text-soft-pink-400 " [disabled]="resendLoading()" [hidden]="!canResend()" (click)="onResendCode()">
          {{ (resendLoading() ? 'AUTH.SENDING' : 'AUTH.SEND_NEW_CODE') | translate }}
        </button>
    </div>
   
    
  
    <lib-button type="submit" [disabled]="confirmEmailVerificationForm.invalid || loading() "
        [loading]="loading()" size="full" variant="Primary">
        {{ 'AUTH.VERIFY_OTP' | translate }}
    </lib-button>

    <lib-divider></lib-divider>

    <lib-callout-text
      [text]="'AUTH.HAVE_ACCOUNT' | translate"
      [linkText]="'AUTH.LOGIN' | translate"
      linkUrl="/auth/login">
    </lib-callout-text>
</form>