<section
  class="w-full max-w-[1280px] mx-auto flex flex-col
         px-[16px] sm:px-[24px]
         py-[40px]
         gap-[32px] lg:gap-[40px]
         bg-[#FBEAEA] rounded-[20px]
         text-center shadow-sm">

  <h3
    class="font-sarabun
           text-[24px] sm:text-[30px] lg:text-[36px]
           font-bold
           leading-[32px] sm:leading-[36px] lg:leading-[100%]
           tracking-[0]
           text-center
           text-[#A6252A]">
    Trusted by over <span class="text-[#FF668B]">4.5k+</span>companies
  </h3>

  <div
    class="flex flex-wrap items-center justify-center
           gap-[24px] md:gap-[40px] lg:gap-[71px]">

    @for (partner of partners; track partner.name) {
      <div
        class="flex items-center justify-center
               w-[110px] h-[40px]
               sm:w-[130px] sm:h-[48px]
               lg:w-[146px] lg:h-[51px]">

        <img
          [src]="partner.src"
          [alt]="partner.alt"
          class="max-h-full max-w-full object-contain" />
      </div>
    }

  </div>

</section>