:host {
  --p-drawer-background: var(--color-zinc-100);
  --p-drawer-color: var(--color-zinc-900);
  --p-drawer-border-color: var(--color-zinc-200);
  --p-drawer-title-font-size: 1.25rem;
}

:host-context(.dark) {
  --p-drawer-background: var(--color-zinc-800);
  --p-drawer-color: var(--color-zinc-50);
  --p-drawer-border-color: var(--color-zinc-700);
}

:host ::ng-deep .p-drawer-close-button .p-button {
  color: var(--color-zinc-500);

  &:hover {
    background: var(--color-maroon-50);
    color: var(--color-maroon-600);
  }
}

:host-context(.dark) ::ng-deep .p-drawer-close-button .p-button {
  color: var(--color-zinc-400);

  &:hover {
    background: var(--color-zinc-700);
    color: var(--color-soft-pink-300);
  }
}
