 @if (notifications() !== null) {
<div class="w-full md:w-[336px] rounded-none md:rounded-xl overflow-hidden bg-white shadow-none md:shadow-[0px_4px_9px_0px_#00000026] dark:bg-zinc-700 dark:shadow-none dark:border dark:border-zinc-700">
  <!-- Header -->
  <div class="bg-maroon-700 text-white px-5 py-4 dark:bg-soft-pink-200">
    <h3 class="font-sarabun font-bold text-base sm:text-lg md:text-xl leading-none text-white dark:text-zinc-800">
      {{ 'NOTIFICATIONS.TITLE' | translate }} @if(totalNotifications()>0){({{ totalNotifications() }})} 
    </h3>
  </div>

    
  <!-- Sub-Header Actions (Clear all & Mark all as read) -->
  @if (totalNotifications() > 0 || unreadCount() > 0) {
    <div class="flex items-center justify-between px-4 py-3 bg-white border-b border-gray-200 text-xs font-sarabun font-semibold text-zinc-700 dark:bg-zinc-700 dark:border-zinc-700 dark:text-zinc-200">
      @if (totalNotifications() > 0) {
        <button
          type="button"
          (click)="clearAll()"
          class="flex items-center gap-1.5 text-zinc-800 hover:text-red-600 transition-colors focus:outline-none cursor-pointer  "
        >
          <lucide-angular [img]="BrushCleaning" class="w-4 h-4 sm:w-4.5 sm:h-4.5 dark:text-zinc-400"></lucide-angular>
          <span class="font-sarabun font-semibold text-[10px] sm:text-xs leading-none tracking-normal dark:text-zinc-50">{{ 'NOTIFICATIONS.CLEAR_ALL' | translate }}</span>
        </button>
      }
      @if (unreadCount() > 0) {
        <button
          type="button"
          (click)="markAllAsRead()"
          class="group flex items-center gap-1.5 text-zinc-800 hover:text-zinc-900 transition-colors focus:outline-none cursor-pointer  "
        >
          <lucide-angular [img]="CheckCheck" class="w-4 h-4 sm:w-4.5 sm:h-4.5 dark:text-zinc-400"></lucide-angular>
          <span class="font-sarabun font-semibold text-[10px] sm:text-xs leading-none tracking-normal dark:text-zinc-50">{{ 'NOTIFICATIONS.MARK_ALL_AS_READ' | translate }}</span>
        </button>
      }
    </div>
  }

  <!-- Notification Items List -->
  <div class="max-h-[480px] bg-white dark:bg-zinc-700 overflow-y-auto divide-y divide-gray-100 dark:divide-zinc-700">
     
    @for (item of notifications(); track item.id) {
      <app-notification-item
        [item]="item"
        (markAsReadClicked)="handleMarkAsRead($event)"
        (deleteClicked)="handleDelete($event)"
        (notificationClicked)="handleNotificationClick($event)"
      />
    } @empty {
      <div class="h-[224px] flex flex-col items-center justify-center gap-2.5 border-t border-[#D9D9D9] text-zinc-500 font-sarabun dark:border-zinc-600 dark:text-zinc-400">
        <lucide-angular [img]="BellOff" [strokeWidth]="1" class="w-[42px] h-[42px] sm:w-[48px] sm:h-[48px] mx-auto mb-2"></lucide-angular>
        <span class=" font-medium text-xs sm:text-sm leading-none tracking-normal ">{{ 'NOTIFICATIONS.EMPTY' | translate }}</span>
      </div>
    }
  
  </div>

</div>
 }