<form [formGroup]="sendEmailVerificationForm" (ngSubmit)="onSendEmailVerificationSubmit()"
class="w-full  mx-auto flex flex-col gap-4 md:gap-6">

    <div class="flex flex-col gap-4 pb-2.5">
    <lib-welcome-message [title]="'AUTH.BECOME_FAMILY' | translate" class="font-edwardian mt-2 ">
    </lib-welcome-message>
    <lib-divider></lib-divider>
    </div>

    <lib-reusable-input
      [label]="'AUTH.EMAIL' | translate"
      type="email"
      formControlName="email"
      [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate">
    </lib-reusable-input>

    <lib-button type="submit"
      [disabled]="loading()"
      [loading]="loading()"
      size="full"
      variant="Primary"
      class="text-white cursor-pointer">
      {{ 'AUTH.NEXT' | translate }}
    </lib-button>

    <lib-divider></lib-divider>

    <lib-callout-text
      [text]="'AUTH.HAVE_ACCOUNT' | translate"
      [linkText]="'AUTH.LOGIN' | translate"
      linkUrl="/auth/login"
      class="mb-2">
    </lib-callout-text>
</form>