<section class="w-full px-4 md:px-8 lg:px-[81px] mt-[62px] flex flex-col gap-[50px]">

    <div class="mx-auto flex w-full max-w-[1280px] flex-col gap-10 lg:flex-row">

        <!-- Page Content -->
        <div class="flex-1">
            <router-outlet />
        </div>


        <!-- Shared Summary -->
        <div class="w-full lg:max-w-[458px] shrink-0">
            <app-order-summary 
             [appliedCoupon]="appliedCoupon()"
              [subtotal]="subtotal()" 
              [total]="total()" 
              [cartHasItems]="cartItems().length > 0"
              [showCheckoutButton]="isCartPage()"
              (applyCouponClicked)="onApplyCoupon($event)"
              (checkoutClicked)="onCheckout()">
            </app-order-summary>
        </div>

    </div>

    <!-- Shared Products -->
    <app-products-carousel class="mb-16" 
        [products]="suggestedProducts()" 
        [wishlistedIds]="wishlistedIds()"
        [mainTitle]="'COMMON.PRODUCTS_YOU_MAY_LIKE' | translate" 
        [swiperConfig]="swiperConfig"
        prevButtonClass="checkout-products-prev" 
        nextButtonClass="checkout-products-next"
        (cardDetailsClicked)="onCardDetailsClicked($event.id)" 
        (wishListClicked)="onWishListClicked($event)"
        (quickViewClicked)="onCardDetailsClicked($event.id)" 
        (addToCartClicked)="onAddToCartClicked($event.id)">
    </app-products-carousel>

</section>