<section class="w-full px-4 md:px-8 lg:px-[81px] mt-[41px]">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-[24px] w-full justify-items-center">

        <div
            class="relative w-full overflow-hidden lg:col-span-1 h-[440px] rounded-[16px] p-[24px] flex flex-col justify-between">

            <img [src]="'assets/images/banner/specialGifts.png' | assetUrl" [alt]="'HERO.SIDE_BANNER.TITLE' | translate"
                class="absolute inset-0 w-full h-full object-cover" />

            <div class="absolute inset-0 bg-black/10 "></div>

            <div class=" mt-auto  relative z-10 p-[24px] flex flex-col gap-[10px]">
                <app-badge [text]="'HERO.SIDE_BANNER.BADGE' | translate" variant="secondary">

                </app-badge>
                <h3
                    class="font-sarabun font-semibold  text-[18px] sm:text-[20px] xl:text-[24px]  leading-none tracking-normal text-white">
                    {{ 'HERO.SIDE_BANNER.TITLE' | translate }}</h3>

                <lib-button size="auto" class=" text-maroon-700 " variant="Secondary">
                    {{ 'HERO.SIDE_BANNER.BUTTON' | translate }}
                    <lucide-icon rightIcon [img]="ArrowRight"></lucide-icon>

                </lib-button>

            </div>
        </div>

        <!-- Right Carousel -->
        <div class="relative w-full overflow-hidden lg:col-span-3 h-[440px] rounded-[16px]">

            <p-carousel #carousel [value]="slides()" [numVisible]="1" [numScroll]="1" [circular]="true"
                [showNavigators]="false" [showIndicators]="false" (onPage)="currentPage.set($event.page ?? 0)"
                styleClass="h-full w-full">


                <ng-template let-slide pTemplate="item">
                    <div class="relative w-full h-[440px] p-[24px] flex flex-col justify-end">
                        <img [src]="slide.image | assetUrl" [alt]="slide.title"
                            class="absolute inset-0 w-full h-full object-cover" />
                        <div class="absolute inset-0  bg-linear-to-r  from-black/80 to-transparent"></div>

                        <div class="relative z-10 max-w-[500px] flex flex-col gap-[16px] mb-[40px] ml-[24px]">
                            <h2 class="font-sarabun font-bold text-[32px] md:text-[48px] text-white leading-tight">
                                {{ slide.title | translate }}</h2>
                            <p class="text-white/90 text-[16px] md:text-[18px]">{{ slide.subTitle | translate }}</p>
                            <div class="w-fit">
                                <lib-button size="auto" class="text-maroon-700" variant="Secondary">
                                    {{ 'HERO.SLIDES.BUY_BUTTON' | translate }}
                                </lib-button>
                            </div>
                        </div>
                    </div>
                </ng-template>



            </p-carousel>
            <div class="absolute top-[24px] right-[24px] rtl:right-auto rtl:left-[24px] z-30 flex gap-[8px]">
                @for (slide of slides(); track $index) {
                <button (click)="carousel.page = $index; currentPage.set($index)" [class]="currentPage() === $index 
                ? 'w-[36px] h-[10px] rounded-full bg-[#A6252A] transition-all duration-300' 
                : 'w-[8px] h-[8px] rounded-full bg-maroon-50 hover:bg-maroon-70 transition-all duration-300'">
                </button>
                }
            </div>


            <div
                class="absolute bottom-[31px] right-[32px] rtl:right-auto rtl:left-[32px] z-20 flex justify-between bg-[#FBEAEA] backdrop-blur-sm rounded-full shadow-md">
                <button (click)="carousel.navBackward($event)"
                    class="w-[30px] h-[30px] rounded-full flex items-center justify-center text-zinc-400 hover:bg-white transition-colors duration-200">
                    <lucide-icon [img]="ChevronLeft"></lucide-icon>
                </button>
                <button (click)="carousel.navForward($event)"
                    class="w-[30px] h-[30px] rounded-full flex items-center justify-center text-maroon-700 hover:bg-white transition-colors duration-200">
                    <lucide-icon [img]="ChevronRight"></lucide-icon>
                </button>
            </div>
        </div>
    </div>
</section>