<div class="container mx-auto p-6">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
    <div class="lg:col-span-8">
      <div class="flex justify-between items-center mb-6">
        <div>
          <h1 class="text-4xl font-bold">
            {{ 'CART.TITLE' | translate }}
          </h1>

          <p class="text-gray-500 mt-1">
            {{ cartItems().length }}
            {{ 'CART.PRODUCTS' | translate }}
          </p>
        </div>

        <button
          pButton
          severity="danger"
          class="bg-[#FBEAEA] text-[#A6252A] !border-0"
          icon="pi pi-trash"
          [label]="'CART.CLEAR_CART' | translate"
          (click)="clearCart()">
        </button>
      </div>

      <div class="border border-gray-300 rounded-xl overflow-hidden bg-white">
        @for(item of cartItems(); track item.id){
        <div
          class="flex flex-col md:flex-row gap-4 p-5 border-b last:border-b-0 border-gray-300">

          <img
            [src]="item.product.cover"
            [alt]="item.product.title"
            class="w-28 h-28 rounded-lg object-cover border" />

          <div class="flex-1">
            <h3 class="font-semibold text-[#A6252A]">
              {{ item.product.title }}
            </h3>

            <div class="flex items-center gap-2 text-sm mt-1">
              <p-rating
                [readonly]="true"
                [stars]="5"
                [ngModel]="item.product.rating">
              </p-rating>

              <span>
                {{ 'CART.RATING' | translate }}:
                {{ item.product.rating }}/5
              </span>

              <span class="text-blue-600">
                ({{ item.product.ratings }}
                {{ 'CART.RATINGS' | translate }})
              </span>
            </div>

            <div class="mt-5">
              <span class="text-[#A6252A] font-semibold">
                (x{{ item.quantity }})
              </span>

              <span class="text-2xl font-bold ml-2">
                {{ item.product.price }}
              </span>

              <span class="text-gray-500 ml-1">
                {{ 'CART.CURRENCY' | translate }}
              </span>
            </div>
          </div>

          <div class="flex flex-col justify-between items-end">
            <button
              pButton
              class="bg-[#DC2626]"
              severity="danger"
              size="small"
              icon="pi pi-trash"
              [label]="'CART.REMOVE' | translate"
              (click)="remove(item.id)">
            </button>

            <div class="flex items-center gap-2 mt-5">
              <button
                class="bg-[#FBEAEA] text-[#A6252A] !border-0"
                pButton
                severity="danger"
                outlined
                icon="pi pi-minus"
                (click)="decrease(item)">
              </button>

              <input
                pInputText
                readonly
                [value]="item.quantity"
                class="w-16 text-center" />

              <button
                class="bg-[#FBEAEA] text-[#A6252A] !border-0"
                pButton
                severity="danger"
                outlined
                icon="pi pi-plus"
                (click)="increase(item)">
              </button>
            </div>
          </div>
        </div>
        }

        @empty {
        <div class="text-center py-20">
          <i class="pi pi-shopping-cart text-6xl text-gray-300"></i>

          <p class="mt-5 text-xl text-gray-500">
            {{ 'CART.EMPTY_CART' | translate }}
          </p>
        </div>
        }
      </div>

      <button
        pButton
        severity="danger"
        class="bg-[#A6252A] mt-6"
        icon="pi pi-arrow-left"
        routerLink="/home"
        [label]="'CART.CONTINUE_SHOPPING' | translate">
      </button>
    </div>

    <div class="lg:col-span-4">
      <!-- Summary -->

    <app-order-summary
      [subtotal]="subtotal()"
      [total]="total()"
      [showCheckoutButton]="true"
      [cartHasItems]="cartItems().length > 0">
    </app-order-summary>
    </div>
  </div>
</div>