<!-- Mobile Cart Header -->
<div class="block md:hidden bg-maroon-700 text-white px-5 py-4 mb-6 dark:bg-soft-pink-200">
  <h3 class="font-sarabun font-bold text-base leading-none text-white dark:text-zinc-800">
    {{ 'CART.TITLE' | translate }}
    @if (cartCount() > 0) {
      ({{ cartCount() }})
    }
  </h3>
</div>
<!-- Cart Header - Desktop -->
<div class="hidden md:flex justify-between items-center mb-6 px-4">
    <div>
        <h1 class="text-4xl font-bold">
            {{ 'CART.TITLE' | translate }}
        </h1>
        @if(cartCount () >0){
        <p class="text-gray-500 mt-1 dark:text-zinc-400">
            {{ cartCount () }}
            {{ 'CART.PRODUCTS' | translate }}
        </p>
        }
    </div>
    @if(cartCount () >0){
    <button pButton severity="danger" class="bg-[#FBEAEA] dark:bg-zinc-700 text-[#A6252A]  dark:text-[#FFC2D0] border-0!"
        icon="pi pi-trash"
        [label]="'CART.CLEAR_CART' | translate" (click)="clearCart()">
    </button>
    }
</div>
<div class="border border-gray-300  dark:border-zinc-700 border-b-0 rounded-xl overflow-hidden mb-6">
    @for(item of  cartItems(); track item.id){
         <app-cart-item-card
         [item]="item"
         (increaseClicked)="increase($event)"
         (decreaseClicked)="decrease($event)"
        (removeClicked)="remove($event)"
        (productClicked)="goToProductDetails($event)">
       </app-cart-item-card>

    }

    @empty {
    <div class="text-center py-20">
        <i class="pi pi-shopping-cart text-6xl text-gray-300 dark:text-zinc-500"></i>

        <p class="mt-5 text-xl text-gray-500">
            {{ 'CART.EMPTY_CART' | translate }}
        </p>
    </div>
    }
   
</div>
 <div routerLink="/home">

 </div>
<lib-button size="auto" (clicked)="navigateToProducts()"
class="bg-[#A6252A] dark:bg-[#FFA3B9] dark:text-[#27272A]  text-white "
>
@if (!isRtl()) {
   <lucide-icon leftIcon [img]="ArrowLeft"></lucide-icon>
}
 
{{ 'CART.CONTINUE_SHOPPING' | translate}}
 @if (isRtl()) {    
    <lucide-icon rightIcon [img]="ArrowRight"></lucide-icon>
 }


</lib-button>