<section class="w-full px-4 sm:px-6 lg:px-[81px] mt-10">

    <div class="w-full bg-[#FBEAEA] rounded-[16px] mx-auto 
                grid grid-cols-1 sm:grid-cols-2  xl:grid-cols-4
                p-6 sm:p-8 lg:p-[40px]  gap-y-8 dark:bg-[#3F3F46]">

        @for (feature of features; track feature.title) {
        <div class="flex items-center justify-center w-full">
            
            <div class="flex flex-col sm:flex-row items-center justify-center sm:justify-start xl:justify-center  gap-4 w-full max-w-[240px] sm:max-w-[260px]  text-start">
                
                <div class="flex-shrink-0">
                    <lib-button size="icon-lg" variant="Primary" shape="circle">
                        <lucide-icon [img]="feature.icon"
                            class="w-8 h-8 sm:w-10 sm:h-10 dark:text-[#27272A]"></lucide-icon>
                    </lib-button>
                </div>

                <div class="flex flex-col justify-center gap-1 min-w-0  ">
                    <h4 class="text-[#A6252A] font-sarabun  font-semibold text-[20px] sm:text-[18px] text-center sm:text-start lg:text-[20px] leading-tight dark:text-[#FFC2D0] ">
                        {{feature.title | translate}}
                    </h4>

                    <p class="font-sarabun font-normal  text-[14px] sm:text-[13px] lg:text-[14px] leading-relaxed text-[#71717A] dark:text-[#D9D9D9] text-center  sm:text-start">
                        {{feature.desc | translate}}
                    </p>
                </div>

            </div>

        </div>
        }

    </div>
</section>