/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tajawal:wght@200;300;400;500;700;800;900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-sarabun: 'Sarabun', sans-serif;
  --font-tajawal: 'Tajawal', sans-serif;
  --font-zain: 'Zain', sans-serif;
  --font-pinyon: 'Pinyon Script', sans-serif;

  --color-maroon-50: #fbeaea;
  --color-maroon-100: #f3c5c7;
  --color-maroon-200: #ea9fa2;
  --color-maroon-300: #e07a7d;
  --color-maroon-400: #d75458;
  --color-maroon-500: #cd2e33;
  --color-maroon-600: #a6252a;
  --color-maroon-700: #741c21;
  --color-maroon-800: #501419;
  --color-maroon-900: #2c0c10;
  --color-maroon-950: #20090c;

  --color-soft-pink-50: #fff1f5;
  --color-soft-pink-100: #ffe0e7;
  --color-soft-pink-200: #ffc2d0;
  --color-soft-pink-300: #ffa3b9;
  --color-soft-pink-400: #ff85a2;
  --color-soft-pink-500: #ff668b;
  --color-soft-pink-600: #e65073;
  --color-soft-pink-700: #cc3a5b;
  --color-soft-pink-800: #b32443;
  --color-soft-pink-900: #99102c;
  --color-soft-pink-950: #590414;
}
.font-edwardian {
  font-family: "Edwardian Script ITC", cursive;
}