<div class="p-5 pb-0">
<div class="flex flex-col md:flex-row gap-4 pb-5  border-b  border-[#E4E4E7] dark:border-zinc-700">

    <div role="button" tabindex="0" 
        (click)=" onProductClicked()"  
        (keyup.enter)=" onProductClicked()"
        class="w-28 h-28 overflow-hidden   cursor-pointer">

        <img  [src]="item().product.cover" [alt]="item().product.title"
        class=" w-full h-full rounded-lg object-cover  " />
    </div>
    

    <div class="flex-1">
        <h3 class="font-semibold text-[#A6252A] cursor-pointer dark:text-[#FFC2D0]" 
        role="button"
        tabindex="0"
        (click)=" onProductClicked()"
        (keyup.enter)=" onProductClicked()" >
            {{ item().product.title }}
        </h3>

        <div class="flex items-center gap-2 text-sm mt-1">
            <lucide-icon [img]="Star" class="w-[20px] h-[20px] text-[#FFA508] fill-current"></lucide-icon>
           
            @if(item().product.rating ){
            <span class="text-black dark:text-white">
                {{ 'CART.RATING' | translate }}:
                {{ item().product.rating }}/5
            </span>
            }
            @if(item().product.ratings ){
            <span class="text-blue-600 dark:text-sky-400">
                ({{ item().product.ratings }}
                {{ 'CART.RATINGS' | translate }})
            </span>
           }@else{
            <span class="text-blue-600">
                
               ( {{ 'CART.NO_RATINGS_YET' | translate }})
            </span>
           }
        </div>

        <div class="mt-5">
            <span class="text-[#A6252A] dark:text-[#FF9EB7] font-semibold">
                (x{{ item().quantity }})
            </span>

            <span class="text-2xl font-bold ml-2 text-black dark:text-white">
                {{ item().product.price | number:'1.2-2'}}
            </span>

            <span class="text-gray-500 ml-1 text-black dark:text-white ">
                {{ 'COMMON.EGP' | translate }}
            </span>
        </div>
    </div>

    <div class="flex flex-col justify-between items-end ">
        <button pButton class="bg-[#DC2626] text-white" severity="danger" size="small" icon="pi pi-trash"
            [label]="'CART.REMOVE' | translate" (click)="onRemove()">
        </button>

        <div class="flex items-center gap-2 mt-5">
            <button class="bg-[#FBEAEA] dark:bg-zinc-700 text-[#A6252A] dark:text-[#FFC2D0] border-0!" pButton severity="danger" outlined icon="pi pi-minus"
                (click)="onDecrease()">
            </button>

            <input pInputText readonly [value]="item().quantity"
            class="w-16 text-center  dark:bg-zinc-700 dark:border-zinc-600 dark:text-white" />

            <button class="bg-[#FBEAEA] dark:bg-zinc-700 text-[#A6252A] dark:text-[#FFC2D0] border-0!" pButton severity="danger" outlined icon="pi pi-plus"
                (click)="onIncrease()">
            </button>
        </div>
    </div>
</div>
</div>