@if (relatedProducts().length > 0) {
  <section class="container mx-auto py-15">
    <app-section-title
      [mainTitle]="'PRODUCT_DETAILS.RELATED_PRODUCTS.MAIN_TITLE' | translate"
      [subTitle]="'PRODUCT_DETAILS.RELATED_PRODUCTS.SUB_TITLE' | translate"
      alignment="left"
    >
    </app-section-title>

    <p-carousel
      [value]="relatedProducts()"
      [numVisible]="4"
      [numScroll]="1"
      [circular]="true"
      [showIndicators]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template #item let-product>
        <div class="p-2">
          <app-product-card
            [product]="product"
            (cardDetailsClicked)="onCardDetailsClicked(product)"
            (wishListClicked)="onWishListClicked(product)"
            (quickViewClicked)="onQuickViewClicked(product)"
            (addToCartClicked)="onAddToCartClicked(product)"
          >
          </app-product-card>
        </div>
      </ng-template>
    </p-carousel>
  </section>
}