@if (relatedProducts().length > 0) {
<section class="container mx-auto  mb-16 lg:mb-24 xl:mb-[433px] ">
  <app-products-carousel 
    [products]="relatedProducts()" 
    [wishlistedIds]="wishlistedIds()"
    [mainTitle]="'PRODUCT_DETAILS.RELATED_PRODUCTS.MAIN_TITLE' | translate"
    [subTitle]="'PRODUCT_DETAILS.RELATED_PRODUCTS.SUB_TITLE' | translate" 
    [swiperConfig]="swiperConfig"
    prevButtonClass="related-products-prev" 
    nextButtonClass="related-products-next"
    (cardDetailsClicked)="onCardDetailsClicked($event.id)" 
    (wishListClicked)="onWishListClicked($event)"
    (quickViewClicked)="onQuickViewClicked($event.id)" 
    (addToCartClicked)="onAddToCartClicked($event.id)">
  </app-products-carousel>
</section>
}