<div class="flex flex-col mx-5">
  @if (step() === 1) {
  <h1 class="text-3xl text-zinc-800 font-bold dark:text-zinc-50">Forgot Password?</h1>
  <p class="text-zinc-800 dark:text-zinc-50 pt-1">
    Worry not, we'll send you instructions to help you reset it.
  </p>

  <lib-divider class="mt-4 mb-6"></lib-divider>

  <form [formGroup]="emailForm" class="flex flex-col gap-4">
    <lib-reusable-input formControlName="email" type="email" label="Email" placeholder="Enter your email" />

    <lib-button class="text-white" [type]="'submit'" [size]="'full'" [loading]="authStore.loading()"
      [disabled]="authStore.loading()" (clicked)="onSendCode()">
      Continue
    </lib-button>


    <lib-divider class="my-4"></lib-divider>

    <p class="text-sm text-center text-zinc-600 dark:text-zinc-400">
      Don't have an account yet?
      <a routerLink="/auth/register"
        class="font-bold text-maroon-700 dark:text-soft-pink-300 hover:underline cursor-pointer">
        Create one now!
      </a>
    </p>
  </form>
  }

  @if (step() === 2) {
  <h1 class="text-3xl text-zinc-800 font-bold dark:text-zinc-50">Password Reset Sent</h1>
  <p class="text-zinc-800 dark:text-zinc-50 pt-1">
    We have sent a password reset link to:<br>
    <span class="font-semibold text-maroon-700 dark:text-soft-pink-300">{{ email() }}</span> <span class="font-bold text-blue-600 hover:text-blue-500 cursor-pointer transition" (click)="stepBack()"> Edit</span>
  </p>
  <lib-divider class="mt-4 mb-6"></lib-divider>
  <p class="text-sm text-zinc-600 dark:text-zinc-400 leading-relaxed">
    Please check your inbox and follow the instructions to reset your password. <br>
   <span class="font-bold text-zinc-800 dark:text-zinc-50"> If you don't see the email within a few minutes, check your spam or junk folder.</span>
  </p>
  <lib-divider class="my-4"></lib-divider>
  <p class="text-sm text-center text-zinc-600 dark:text-zinc-400">
    Don't have an account?
    <a routerLink="/auth/register"
      class="font-bold text-maroon-700 dark:text-soft-pink-300 hover:underline cursor-pointer">
      Create yours
    </a>
  </p>
  }
</div>