<div class="flex flex-col mx-5">
  @if (step() === 1) {
  <h1 class="text-3xl text-zinc-800 font-bold dark:text-zinc-50">{{ 'AUTH.FORGOT_PASSWORD_TITLE' | translate }}</h1>
  <p class="text-zinc-800 dark:text-zinc-50 pt-1">
    {{ 'AUTH.FORGOT_PASSWORD_SUBTITLE' | translate }}
  </p>

  <lib-divider class="mt-4 mb-6"></lib-divider>

  <form [formGroup]="emailForm" class="flex flex-col gap-4">
    <lib-reusable-input formControlName="email" type="email"
      [label]="'AUTH.EMAIL' | translate"
      [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate" />

    <lib-button class="text-white" [type]="'submit'" [size]="'full'" [loading]="authStore.loading()"
      [disabled]="authStore.loading()" (clicked)="onSendCode()">
      {{ 'AUTH.CONTINUE' | translate }}
    </lib-button>

    <lib-divider class="my-4"></lib-divider>

    <p class="text-sm text-center text-zinc-600 dark:text-zinc-400">
      {{ 'AUTH.NO_ACCOUNT' | translate }}
      <a routerLink="/auth/register"
        class="font-bold text-maroon-700 dark:text-soft-pink-300 hover:underline cursor-pointer">
        {{ 'AUTH.CREATE_ACCOUNT' | translate }}
      </a>
    </p>
  </form>
  }

  @if (step() === 2) {
  <h1 class="text-3xl text-zinc-800 font-bold dark:text-zinc-50">{{ 'AUTH.PASSWORD_RESET_SENT' | translate }}</h1>
  <p class="text-zinc-800 dark:text-zinc-50 pt-1">
    {{ 'AUTH.RESET_LINK_SENT_TO' | translate }}<br>
    <span class="font-semibold text-maroon-700 dark:text-soft-pink-300">{{ email() }}</span>
    <span class="font-bold text-blue-600 hover:text-blue-500 cursor-pointer transition" (click)="stepBack()"> {{ 'AUTH.EDIT' | translate }}</span>
  </p>
  <lib-divider class="mt-4 mb-6"></lib-divider>
  <p class="text-sm text-zinc-600 dark:text-zinc-400 leading-relaxed">
    {{ 'AUTH.CHECK_INBOX' | translate }}<br>
    <span class="font-bold text-zinc-800 dark:text-zinc-50">{{ 'AUTH.CHECK_SPAM' | translate }}</span>
  </p>
  <lib-divider class="my-4"></lib-divider>
  <p class="text-sm text-center text-zinc-600 dark:text-zinc-400">
    {{ 'AUTH.NO_ACCOUNT_SHORT' | translate }}
    <a routerLink="/auth/register"
      class="font-bold text-maroon-700 dark:text-soft-pink-300 hover:underline cursor-pointer">
      {{ 'AUTH.CREATE_YOURS' | translate }}
    </a>
  </p>
  }
</div>
