<section class="w-full flex flex-col gap-[16px] px-4 sm:px-8 md:px-12 lg:px-[80px] mt-[62px]">
    @if(wishlistItems().length){
    <header class="flex flex-col sm:flex-row  justify-between">
        <div class="flex flex-col sm:flex-row gap-[10px] justify-start sm:items-end">
            <lucide-icon [img]="FolderHeart " class="w-[60px] h-[60px] text-[#27272A] dark:text-white"></lucide-icon>
            <h1 class="font-sarabun font-bold text-5xl leading-none tracking-normal text-[#27272A]  dark:text-white">
                {{ 'WISHLIST.TITLE' | translate }}</h1>
                @if(wishlistItems().length > 0){
                    <small
                class="font-sarabun font-normal text-base leading-none tracking-normal text-[#71717A] dark:text-zinc-400">{{wishlistItems().length}}
                {{wishlistItems().length === 1 ? ('WISHLIST.ITEM' | translate) :
                 ('WISHLIST.ITEMS' | translate)}} </small>
                }
            
        </div>
       
        <button (click)="openClearModal()"
            class="flex items-center justify-center mt-[15px] sm:mt-0  gap-[10px] w-[181px] h-[44px] rounded-lg px-4 py-[14px]
            bg-[#DC2626]  hover:bg-[#B91C1C] dark:bg-[#F87171] dark:hover:bg-[#FCA5A5] text-white dark:text-[#27272A] cursor-pointer transition-colors duration-200">
            <lucide-icon [img]="BrushCleaning " class="w-[20px] h-[20px]"></lucide-icon>
             {{ 'WISHLIST.CLEAR' | translate }}
        </button>
        
    </header>
    
    <div class=" border border-[#F4F4F5]  dark:border-zinc-700">
        @for (item of wishlistItems() ;track item.id){
        <app-wishlist-card [item]="item" 
        (cardDetailsClicked)="onCardDetailsClicked($event)"
        (exploreSimilarClicked)="onExploreSimilarProducts($event)"
        (remove)="removeFromWishlist($event)"
        (addToCart)="addToCart($event)"></app-wishlist-card>
        }
    </div>

    <div class="py-6">
        <button (click)="onContinueShoppingClicked()"
            class="flex items-center justify-center gap-[10px]  rounded-lg bg-[#501419] hover:bg-[#651A20]
             dark:bg-[#FFA3B9] dark:hover:bg-[#FF8DAA] px-[33px] py-[14px] font-sarabun font-medium text-[16px] leading-none tracking-normal text-white dark:text-[#27272A] cursor-pointer">
              <lucide-icon [img]="MoveLeft " [class.rotate-180]="isRtl()" class="w-[20px] h-[20px]"></lucide-icon>
              {{ 'WISHLIST.CONTINUE' | translate }}
        </button>
    </div>
    } @else{
        <div
    class="flex flex-col items-center justify-center
           py-24 text-center">

    <lucide-icon
      [img]="FolderHeart"
      class="w-20 h-20 text-zinc-300 dark:text-zinc-600">
    </lucide-icon>

    <h2
      class="mt-6 font-sarabun text-2xl font-semibold
             text-[#27272A] dark:text-white">
      {{ 'WISHLIST.EMPTY' | translate }}
    </h2>

    <p
      class="mt-2 max-w-md font-sarabun text-base
             text-[#71717A] dark:text-zinc-400">
      {{ 'WISHLIST.EMPTY_DESCRIPTION' | translate }}
    </p>
    <div class="py-6">
        <button (click)="onContinueShoppingClicked()"
            class="flex items-center justify-center gap-[10px]  rounded-lg bg-[#501419] hover:bg-[#651A20]
             dark:bg-[#FFA3B9] dark:hover:bg-[#FF8DAA] px-[33px] py-[14px] font-sarabun font-medium text-[16px] leading-none tracking-normal text-white dark:text-[#27272A] cursor-pointer">
              <lucide-icon [img]="MoveLeft " [class.rotate-180]="isRtl()" class="w-[20px] h-[20px]"></lucide-icon>
              {{ 'WISHLIST.CONTINUE' | translate }}
        </button>
    </div>

  </div>
    }

</section>
<!-- Confirmation Dialog -->

<p-dialog
    [visible]="isClearModalOpen()"
    (visibleChange)="isClearModalOpen.set($event)"
    [modal]="true"
    [dismissableMask]="false"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    [style]="{ width: '474px' }">

    <div class="flex flex-col items-center text-center gap-6">

        <!-- Icon -->
        <div
            class="w-[110px] h-[110px]   flex items-center justify-center relative">
            <div class="absolute w-[105px] h-[105px] bg-[#F4F4F5] dark:bg-zinc-800 rounded-full"></div>
            <div class="absolute  w-[70px] h-[70px] bg-[#E4E4E7] dark:bg-zinc-700 rounded-full"></div>

            <lucide-icon
                [img]="BrushCleaning"
                class="relative z-10 w-[29px] h-[29px] text-[#27272A] dark:text-white stroke-2">
            </lucide-icon>

        </div>

        <h3
             class="font-sarabun font-semibold text-[20px] leading-none tracking-normal  text-[#27272A] dark:text-white">

             {{ 'WISHLIST.CLEAR_CONFIRM_MESSAGE' | translate }}
        </h3>

        <!-- Actions -->

        <div class="flex w-full gap-[10px] ">

            <button
                (click)="closeClearModal()"
                class="flex-1 rounded-lg border border-[#F4F4F5] bg-[#D4D4D8] hover:bg-[#d9d9db] dark:bg-zinc-800 dark:border-zinc-700
                 dark:hover:bg-zinc-700 px-4 py-[14px] flex items-center justify-center gap-[10px] font-sarabun font-medium text-[16px] leading-none
                 text-[#27272A] dark:text-white transition-colors duration-200 cursor-pointer">

                {{ 'COMMON.CANCEL' | translate }}

            </button>

            <button
                (click)="confirmClearWishlist()"
                class="flex-1  rounded-lg bg-[#DC2626] hover:bg-[#B91C1C] dark:bg-[#F87171] dark:hover:bg-[#FCA5A5] transition-colors px-4 py-[14px]
                flex items-center justify-center gap-[10px] font-sarabun font-medium text-[16px] leading-none tracking-normal text-white dark:text-[#27272A] cursor-pointer">
                {{ 'COMMON.CONFIRM' | translate }}
            </button>

        </div>

    </div>

</p-dialog>