<nav aria-label="Breadcrumb" class="w-full bg-white border-b border-gray-100 px-6 py-4 flex justify-between">
  <ol class="flex items-center space-x-2 text-[13px] font-medium">
    @for (item of breadcrumbs(); track item.url; let last = $last) {
      <li class="inline-flex items-center space-x-2">
        @if (!last) {
          <a [routerLink]="item.url" class="text-[#717b8c] hover:text-gray-900 transition-colors">
             {{item.label | translate }}
          </a>
          <svg class="w-3 h-3 text-[#9aa2af]" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
          </svg>
        } @else {
          <span class="text-[#a03238] font-normal">
             {{item.label | translate }}
          </span>
        }
      </li>
    }
  </ol>


  <div class="relative flex md:hidden">
      <img
        [src]="currentUser()?.photo"
        [alt]="'ACCOUNT.PROFILE.AVATAR_ALT' | translate"
        class="w-8 h-8 rounded-full object-cover"
      />
      <button type="button" (click)="$event.stopPropagation(); menu.toggle($event)"
        class="text-gray-400 hover:text-gray-600 p-1 rounded-full transition-colors cursor-pointer bg-transparent border-none">
        <svg
          class="w-4 h-4 text-gray-500"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">

          <path
            d="M4 7H20M4 12H20M4 17H20"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round" />
        </svg>
      </button>

        <p-menu
          #menu
          [popup]="true"
          [model]="getMenuItems()"
          appendTo="body"
          styleClass="!bg-white !border !border-gray-200 !shadow-lg !rounded-md !m-2 !p-2 ">
        </p-menu>
  </div>
</nav>
