<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()"
class="w-full max-w-[406px] mx-auto flex flex-col gap-[24px]">
    
        <lib-welcome-message title="Become part of our family!" class="font-edwardian">
    </lib-welcome-message>

    <lib-divider></lib-divider>
    
    
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[20px]">
        <lib-reusable-input label="First name" formControlName="firstName" type="text" placeholder="Jonathan"
            [required]="true"></lib-reusable-input>
        <lib-reusable-input label="Last name" formControlName="lastName" type="text" placeholder="Adrian" [required]="true"></lib-reusable-input>
    </div>


    <lib-reusable-input label="username" formControlName="username" type="text" placeholder="Jon12Adrian"></lib-reusable-input>
    <lib-reusable-input label="Phone" formControlName="phone" type="text" placeholder="1012345678"></lib-reusable-input>
    <lib-select-input label="Gender" formControlName="gender" [options]="gender" placeholder="Select Gender"></lib-select-input>
    <lib-reusable-input label="Password" formControlName="password" type="password" placeholder="******"></lib-reusable-input>
    <lib-reusable-input label="Confirm Password" formControlName="confirmPassword" type="password" placeholder="******"></lib-reusable-input>
    
    <lib-button type="submit" [disabled]="false" [loading]="loading()" size="full" variant="Primary">Next</lib-button>

    <lib-divider></lib-divider>


    <lib-callout-text text="Already have an account?" linkText="Login" linkUrl="/auth/login"></lib-callout-text>
</form>