<div
    class="relative   w-[343px] h-[250px]  bg-white rounded-3xl pt-14 px-5 pb-5 shadow-sm flex flex-col items-center text-center gap-3  transition-all duration-500 ease-out hover:-translate-y-1 hover:shadow-xl hover:cursor-pointer  ">

  <div
     class="w-30 h-30 rounded-full overflow-hidden shrink-0 absolute top-[-75px] left-1/2 -translate-x-1/2  bg-gray-100 dark:bg-gray-700 flex items-center justify-center border-[3px] border-white "
  >
    @if (image()) {
      <!-- <img [src]="image()" [alt]="name()" class="w-full h-full object-cover" /> -->
      <lucide-icon
        [img]="User"
        class="w-10 h-10 text-gray-400 dark:text-gray-500"
      />
    } @else {
      <span class="text-maroon-700 dark:text-soft-pink-300 font-bold text-xl">
        {{ initials }}
      </span>
    }
  </div>

  <p
    class="font-sarabun font-semibold text-base leading-none text-center text-[#27272A]  "
  >
    {{ name() }}
  </p>

  <div class="cursor-default" dir="ltr">
    <p-rating [ngModel]="rating()" [readonly]="true" [stars]="4" 
    iconOnClass="pi pi-star-fill text-[#FBA707] text-[15px]"
    iconOffClass="pi pi-star text-[#FBA707] text-[15px] "
    />
  </div>

  <p
    class="text-gray-500 dark:text-zinc-800 text-sm leading-relaxed line-clamp-3"
  >
    {{ content() }}
  </p>

  <span class="font-sarabun font-medium text-xs leading-none text-center text-[#A1A1AA] mt-auto ">
    {{ formattedDate }}
  </span>
</div>
