<div
  class="relative bg-white rounded-2xl px-6 shadow-sm flex flex-col items-center text-center gap-3 w-full h-[350px]"
>
  <div
    class="w-24 h-24 rounded-full overflow-hidden shrink-0 absolute top-[-35px] bg-gray-100 dark:bg-gray-700 flex items-center justify-center border-2 border-maroon-700 dark:border-white"
  >
    @if (image()) {
      <img [src]="image()" [alt]="name()" class="w-full h-full object-cover" />
    } @else {
      <lucide-icon
        [img]="User"
        class="w-10 h-10 text-gray-400 dark:text-gray-500"
      />
    }
  </div>

  <p class="font-semibold text-gray-800 dark:text-zinc-800 text-lg pt-17">
    {{ name() }}
  </p>

  <div class="cursor-default">
    <p-rating [ngModel]="rating()" [readonly]="true" [stars]="5" />
  </div>

  <p
    class="text-gray-500 dark:text-zinc-800 text-sm leading-relaxed line-clamp-3"
  >
    {{ content() }}
  </p>

  <span class="text-gray-400 dark:text-gray-500 text-xs mt-1 pb-3">
    {{ formattedDate }}
  </span>
</div>
